<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/0ef76c0181.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="page1.css" />
    <link rel="stylesheet" href="profile.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="navbar">
      <nav class="navbar">
        <div class="col-3 px-4 d-flex justify-content-start align-items-center">
          <img src="./images/logo.png" alt="" srcset="" height="50" />
        </div>
        <div class="col-3 px-2 d-flex justify-content-end">
          <button class="white_btn" onClick="exit();">Logout</button>
        </div>
      </nav>

      <div class="container mt-5 p-2" style="background-color: antiquewhite">
        <div class="col p-2">
          <div
            class="row mx-auto p-2"
            style="background-color: rgb(197, 124, 28)"
          >
            <h2 style="text-align: center">Profile</h2>
          </div>
          <div
            class="row m-5 pt-4 pb-3 px-5 d-flex justify-content-center"
            style="background-color: rgb(9, 67, 95)"
          >
            <div class="row">
              <!-- Student Profile -->
              <div class="student-profile py-4">
                <div class="container">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-lg-4">
                      <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center">
                          <img
                            class="profile_img"
                            src="./images/user.jpg"
                            alt=""
                          />
                          <h3> Admin / User </h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                          <h3 class="mb-0">
                            <i class="far fa-clone pr-1"></i> General Information
                          </h3>
                        </div>
                        <div class="card-body pt-0">
                          <table class="table table-bordered">
                            <tr>
                              <th width="30%">USER ID</th>
                              <td width="2%">:</td>
                              <td>125-XXX-987</td>
                            </tr>
                            <tr>
                              <th width="30%">FULL NAME</th>
                              <td width="2%">:</td>
                              <td>Vikram Ahuja</td>
                            </tr>
                            <tr>
                              <th width="30%">GENDER</th>
                              <td width="2%">:</td>
                              <td>Male</td>
                            </tr>
                            <tr>
                              <th width="30%">RELIGION</th>
                              <td width="2%">:</td>
                              <td>Hindu</td>
                            </tr>
                            <tr>
                              <th width="30%">BLOOD</th>
                              <td width="2%">:</td>
                              <td>B+</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3 d-flex justify-content-center">
              <a
                href="./admin.html"
                class="btn btn-success btn-lg"
                role="button"
                style="width: max-content"
                >Home Page
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Separate Popper and Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
